body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorBtn {
    padding: 0.25rem 0.5rem;
    border: 2px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(10, 14, 226, 0.7);
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

.colorBtn:hover {
    background: orange;
}